/ganpaint.egg-info
*.pyc
/dataset
/datasets
/models
/results
/client/.cache-loader/
/client/node_modules
/client/package-lock.json
/imagesample
/notebooks/results
/notebooks/ganpaint
/notebooks/datasets
/notebooks/testdata
__pycache__
.DS_Store
.__*
.ipynb*
.*swp
.idea
